@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

nav.menu-lateral {
    width: 250px;
    height: 100%;
    background-color: #0052cc;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav.menu-lateral .logo {
    width: 150px;
}

nav.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

nav.menu-lateral ul li.item-menu {
    transition: .2s;
}

nav.menu-lateral ul li.ativo {
    background-color: #0033a0;
}

nav.menu-lateral ul li.item-menu:hover {
    background: #004bb5;
}

nav.menu-lateral ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

nav.menu-lateral ul li.item-menu a .icon {
    margin-right: 15px;
}

nav.menu-lateral ul li.item-menu a .icon > i {
    font-size: 20px;
}

.dados-usuario-wrapper {
    max-width: 1000px;
    margin: 50px auto;
    padding: 70px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 100px;
    margin-right: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, 
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f1f1f1;
}

.form-group input[readonly], 
.form-group textarea[readonly] {
    background-color: #e9e9e9;
}

.form-group textarea {
    resize: none;
    grid-column: 1 / 3;
}

.form-group button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;  
}

#editButton {
    background-color: #0052cc;
    color: white;
    margin-right: 0px;
    margin-bottom: 15px;

}

#editButton:hover {
    background-color: #0041a8;
}

#saveButton {
    background-color: #28a745;
    color: white;
}

#saveButton:hover {
    background-color: #218838;
}
