@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

nav.menu-lateral {
    width: 250px;
    height: 100%;
    background-color: #0052cc;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral .btn-expandir {
    padding: 0 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #0033a0;
}

ul li.item-menu:hover {
    background: #004bb5;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

ul li.item-menu a .icon {
    margin-right: 15px;
}

ul li.item-menu a .icon > i {
    font-size: 20px;
}

.content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
    height: calc(100vh - 40px);
    overflow-y: auto;
}

.books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 150px;
    margin-bottom: 10px;    
}

.book-item img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.book-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
