@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

nav.menu-lateral {
    width: 250px;
    height: 100%;
    background-color: #0052cc;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav.menu-lateral .logo {
    width: 150px;
}

nav.menu-lateral .menu-header i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #0033a0;
}

ul li.item-menu:hover {
    background: #004bb5;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

ul li.item-menu a .icon {
    margin-right: 15px;
}

ul li.item-menu a .icon > i {
    font-size: 20px;
}






.content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
    height: calc(100vh - 40px);
    overflow-y: auto;
}

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-cancel, .btn-save {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cancel {
    background-color: #ccc;
}

.btn-cancel:hover {
    background-color: #bbb;
}

.btn-save {
    background-color: #0052cc;
    color: #fff;
}

.btn-save:hover {
    background-color: #0033a0;
}

.btn-excluir {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-excluir:hover {
    background-color: darkred;
}

.cart-item {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #f9f9f9;
}

.cart-item h2 {
    margin: 0;
    font-size: 18px;
}

.cart-item p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

.cart-item button {
    margin-left: 20px;
}

.items{
    margin-bottom: 30px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #f9f9f9;
}

.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-title {
    margin: 0;
    font-size: 18px;
    flex: 3;
}

.item-price {
    margin: 0;
    font-size: 16px;
    color: #555;
    text-align: right;
    flex: 1;
}

.btn-comprar{
    background-color: rgba(0, 0, 255, 0.836);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-comprar:hover {
    background-color: darkblue;
}
